.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 2px solid black;
}
form {
  text-align: center;
  max-width: 300px;
  width: 100%;
}
form label,
form input {
  display: block;
  margin: 10px auto; /* Añade espacio vertical y centra horizontalmente */
  width: 25%;
}
